body {
  background-color: #040026;
  background-image: url("https://www.transparenttextures.com/patterns/black-linen-2.png");
  color: white;
}

header {
  font-size: 100px;
  font-family: 'Times New Roman', Times, serif;
}

.forms {
  display: flex;
  justify-content: space-around;
  margin: 10px;
}

.my-team {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 100px;
}

.my-photo {
  height: 100px;
  margin-top: 10px;
  margin-bottom: 10px;
}

button {
  margin: 10px;
}

.player-card {
  border: 1px solid grey;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
}
